.App {
    width: 100vw;
    height: 100vh;
}
.demo {
    position: relative;
    top: 50px;
    /* margin-top: 200px; */
}

 .box {
    height: 30px;
    width: 20px;
}
.spanText {
    width: 200px;
}
@media screen and (min-width: 768px)
  {
    .box {
    height: 40px;
    width: 25px;
}
.demo {
    position: relative;
    top: 100px;
    /* margin-top: 200px; */
}
}